@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --background: #684BB1;
    --branco: #ffffff;
    --rosa-claro: #E880E8;
    --rosa:  #FF52C1;
}

body{
    background: var(--background);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

.forma-esquerda{
    position: absolute;
    top: 0;
    right: 0;
}

.primeira-forma{
    position: absolute;
    top: 5em;
    left: 8em;
}

.segunda-forma{
    position: absolute;
    top: 12.7em;
    left: 21em;
}

.terceira-forma{
    position: absolute;
    top: 17em;
    left: 3.2em;
}

.quarta-forma{
    position: absolute;
    left: 10em;
}

.quinta-forma{
    position: absolute;
    top: 43%;
    left: 7.6em;
}

.sexta-forma{
    position: absolute;
    left: 20.8em;
    top: 21.8em
}

.main-form{
    position: relative;
    top: -14em;
    display: flex;
    margin: auto;
}

.container{
    text-align: center;
    position: relative;
    top: -10em;
}

.titulo__container{
    font-weight: 600;
    color: var(--branco);
    padding-bottom: 1em;
    font-size: 1.5em;
    padding-inline: 3em;
}

.texto__container{
    color: var(--branco);
    padding-bottom: 2em;
    padding-inline: 2.2em;
    font-size: 1.2em;
}

.btn__container{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
    border-radius: 20px;
    color: var(--background);
    border: none;
    padding: 1em 6em;
}

.rodape{
    display: flex;
    justify-content: center;
    position: relative;
    top: -7em;
    gap: 1em;
}

/*-----------------------------------------------------TABLET---------------------------------------------------------------*/
@media screen and (min-width: 768px){
    .primeira-forma{
        left: 30em;
    }

    .segunda-forma{
        left: 40em;
    }

    .main-form{
        top: -10em;
    }

    .container{
        top: -5em;
    }

    .titulo__container{
        font-size: 2.5em;

    }

    .texto__container{
        font-size: 1.6em;
    }

    .btn__container{
        padding: 1.3em 6em;
        font-size: 1.2em;
    }

    .rodape{
        top: -2em;
    }
}

@media screen and (min-width: 1220px){
    .logo{
        position: relative;
        top: 1em;
        left: 1em;
    }

    .forma-esquerda{
        transform: rotate(60deg);
        left: -4em;
        top: 20em;
        width: 800px;
    }

    .forma-direita{
        transform: rotate(105deg);
        position: relative;
        top: -10em;
        width: 800px;
        left: -5em;
    }

    .terceira-forma{
       left: 70em;
    }

    .sexta-forma{
        left: 80em;
        top: 30em
    }

    .segunda-forma{
        top: 5em;
        left: 35em;
    }

    .primeira-forma{
        left: 60em;
    }

    .main-form{
        position: relative;
        left: -22vw;
        top: -35em;
        width: 700px;
    }

    .forma-x{
        position: relative;
        left: 2em;
    }

    .container{
        position: absolute;
        top: 10em;
        padding-left: 45em;
        padding-right: 5em;
        text-align: start;
    }

    .texto__container{
        position: relative;
        left: 2.6em;
    }

    .btn__container{
        position: relative;
        left: 6em;
        box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
        border-radius: 35px;
        padding: 1em 4em;
    }

    .btn__container:hover{
        background: var(--rosa-claro);
        color: var(--branco);
    }

    .rodape{
        top: -35em;
        left: 30em;
    }

    .rodape img{
        width: 40px;
    }

    .rodape img:hover{
        background: var(--rosa);
        border-radius: 22px;
    }

    path:hover {
         fill: var(--rosa);
    }

}