@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --background: #684BB1;
    --branco: #ffffff;
}

body{
    background: var(--background);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.forma-esquerda{
    position: absolute;
    top: 0;
    left: 2.5em;
}

.primeira-forma{
    position: absolute;
    top: 5em;
    left: 8em;
}

.segunda-forma{
    position: absolute;
    top: 12.7em;
    left: 21em;
}

.terceira-forma{
    position: absolute;
    top: 17em;
    left: 3.2em;
}

.quarta-forma{
    position: absolute;
    left: 10em;
}

.quinta-forma{
    position: absolute;
    top: 43%;
    left: 7.6em;
}

.sexta-forma{
    position: absolute;
    left: 20.8em;
    top: 21.8em
}

.main-form{
    position: relative;
    top: -14em;
    display: flex;
    margin: auto;
}

.container{
    text-align: center;
    position: relative;
    top: -10em;
}

.titulo__container{
    font-weight: 600;
    color: var(--branco);
    padding-bottom: 1em;
    font-size: 1.5em;
    padding-inline: 3em;
}

.texto__container{
    color: var(--branco);
    padding-bottom: 2em;
    padding-inline: 2.2em;
    font-size: 1.2em;
}

.btn__container{
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
    border-radius: 20px;
    color: var(--background);
    border: none;
    padding: 1em 6em;
}

.rodape{
    display: flex;
    justify-content: center;
    position: relative;
    top: -7em;
}